# --- R spécifiques ---
.Rhistory
.RData
.Ruserdata
.Rproj.user/
.Rapp.history
renv/library/
renv/python/
renv/staging/

# --- Quarto spécifiques ---
.quarto/
_site/
_freeze/
_publish.yml

# --- Dossiers personnels à ignorer ---
divers_doc/

# --- Fichiers de rendu (Optionnel) ---
# *.html
*.pdf

# --- Données et fichiers lourds ---
*.csv
*.rds
*.xlsx

# --- Système et VS Code ---
.DS_Store
.vscode/
